#Aula - Operações com listas, strings, tuplas e dicionários

## Listas

In [ ]:
#função append
lista = [1,2,3,3,2,5,6,7,9,53]
print(lista)
lista.append(4)
print(lista)
lista.append([2,1,3])
print(lista)
print(lista[-1][1])

[1, 2, 3, 3, 2, 5, 6, 7, 9, 53]
[1, 2, 3, 3, 2, 5, 6, 7, 9, 53, 4]
[1, 2, 3, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3]]
1

In [ ]:
#função copy
lista2 = lista.copy()
print(lista2)
lista2.append(10)
print(lista)
print(lista2)
print(id(lista))
print(id(lista2))

[1, 2, 3, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3]]
[1, 2, 3, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3]]
[1, 2, 3, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3], 10]
140145689869840
140145689828960

In [ ]:
#função clear
lista2.clear()
print(lista)
print(lista2)

[1, 2, 3, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3]]
[]

In [ ]:
#função count
print(lista.count(1))
print(lista.count(3))

1
2

In [ ]:
#função extend
lista.extend([1,2,3,4,5])
print(lista)

[1, 2, 3, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3], 1, 2, 3, 4, 5]

In [ ]:
#função index
print(lista.index(1))
print(lista.index(3))

0
2

In [ ]:
#função insert
lista.insert(3, 18)
print(lista)
print(lista.index(18))

[1, 2, 3, 18, 18, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3], 1, 2, 3, 4, 5]
3

In [ ]:
#função pop
lista.pop(3)
print(lista)

[1, 2, 3, 18, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3], 1, 2, 3, 4, 5]

In [ ]:
#função remove
lista.remove(3)
print(lista)

[1, 2, 18, 3, 2, 5, 6, 7, 9, 53, 4, [2, 1, 3], 1, 2, 3, 4, 5]

In [ ]:
#função reverse
lista.reverse()
print(lista)

[5, 4, 3, 2, 1, [2, 1, 3], 4, 53, 9, 7, 6, 5, 2, 3, 18, 2, 1]

In [ ]:
#função sort
lista = [1,5,8,2,190,40,3]
lista.sort()
print(lista)
lista_nome = ['João', 'onomatopeia', 'Pedro']
print(lista_nome)
lista_nome.append('olá')
print(lista_nome)
lista_nome.sort(key=len)
print(lista_nome)

[1, 2, 3, 5, 8, 40, 190]
['João', 'onomatopeia', 'Pedro']
['João', 'onomatopeia', 'Pedro', 'olá']
['olá', 'João', 'Pedro', 'onomatopeia']

In [ ]:
#list comprehension

lista_c = [a for a in range(100)]
print(lista_c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
lista_c = [a for a in range(100) if a %2 == 0]
print(lista_c)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

## Exercícios!

1- Construa uma lista de inteiros e ordene elas do maior para o menor

2- Adicione os valores 10, 7, 33, 22 com uma única linha de código e deixe-os ordenados também em uma segunda linha de código

3- Gere uma lista de nomes e ordene ela pelo tamanho de cada nome

In [ ]:
#Exercício 1

lista = [1, 3, 5, 7, 9, 4903, 2, 4, 19, 8]
print(lista)
lista.sort(reverse=True)
print(lista)

[1, 3, 5, 7, 9, 4903, 2, 4, 19, 8]
[4903, 19, 9, 8, 7, 5, 4, 3, 2, 1]

In [ ]:
#Exercício 2
lista.extend([10, 7, 33, 22])
print(lista)
lista.sort(reverse=True)
print(lista)
lista.sort()
print(lista)

[4903, 33, 22, 19, 10, 9, 8, 7, 7, 5, 4, 3, 2, 1, 10, 7, 33, 22]
[4903, 33, 33, 22, 22, 19, 10, 10, 9, 8, 7, 7, 7, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 7, 7, 7, 8, 9, 10, 10, 19, 22, 22, 33, 33, 4903]

In [ ]:
#Exercício 3
lista_nomes = ['Ana', 'Maria', 'Rafael', 'Washington', 'Esteferson', 'Júlia', 'Letícia']
print(lista_nomes)
lista_nomes.sort(key=len)
print(lista_nomes)

['Ana', 'Maria', 'Rafael', 'Washington', 'Esteferson', 'Júlia', 'Letícia']
['Ana', 'Maria', 'Júlia', 'Rafael', 'Letícia', 'Washington', 'Esteferson']

## Funções string

In [ ]:
#capitalize
text = 'vou fazer um sanduíche pois estou com fome'
text.capitalize()

'Vou fazer um sanduíche pois estou com fome'

In [ ]:
#casefold
text.casefold()

'vou fazer um sanduíche pois estou com fome'

In [ ]:
#find
text.find('um')

10

In [ ]:
#split
text.split()

['vou', 'fazer', 'um', 'sanduíche', 'pois', 'estou', 'com', 'fome']

In [ ]:
#strip
text.strip(' ')

'vou fazer um sanduíche pois estou com fome'

In [ ]:
#replace
text.replace(' ', '-')

'vou-fazer-um-sanduíche-pois-estou-com-fome'

In [ ]:
#splitlines
text2 = 'vou fazer um sanduíche \npois estou com fome'
text2.splitlines()

['vou fazer um sanduíche ', 'pois estou com fome']

In [ ]:
#isalnum
text3 = '39A29'
text3.isalnum()

True

In [ ]:
#isnumeric
text3.isnumeric()

False

In [ ]:
#isupper
text4 = 'PYTHON'
text4.isupper()

True

In [ ]:
#istitle
text5 = 'Python'
text5.istitle()

True

In [ ]:
#join
lista = ['oi', 'você', 'vem', 'sempre', 'aqui?']
text6 = ' '.join(lista)
text7 = ','.join(lista)
print(text6)
print(text7)

oi você vem sempre aqui?
oi,você,vem,sempre,aqui?

##Exercícios

1- Crie um parágrafo contando uma experiência de vida e armazene isso em uma string. Depois retorne a quantidade de palavras desse parágrafo

2- Conte a quantidade de nomes próprios (ou palavras com letras maiúsculas) e de um número que aparecem em sua história

3- Conte a quantidae de vogais que aparecem na história

4- Conte a quantidade de linhas que aparece na string

In [ ]:
historia = 'Eu decidi de uma vez por todas aprender Python, com o foco em me tornar um cientista de dados. \nMas nem por isso será um processo fácil. Eu, Lucas, irei me esforçar muito para conquistar este objetivo, \npodendo levar mais de 6 meses até conquistar a primeira oportunidade'
print(historia)

Eu decidi de uma vez por todas aprender Python, com o foco em me tornar um cientista de dados.
Mas nem por isso será um processo fácil. Eu, Lucas, irei me esforçar muito para conquistar este objetivo,
podendo levar mais de 6 meses até conquistar a primeira oportunidade

In [ ]:
#Exercício 1
num_palavras = len(historia.split())
print(num_palavras)

48

In [ ]:
#Exercício 2
num_nomeprop = [a for a in historia.split() if a.istitle()]
num_numeros = [a for a in historia.split() if a.isnumeric()]
print('Quantidade de nomes próprios: ', len(num_nomeprop))
print('Quantidade de númerais: ', len(num_numeros))

Quantidade de nomes próprios:  5
Quantidade de númerais:  1

In [ ]:
#Exercício 3
vogais = [a for a in historia if a in ['a', 'e', 'i', 'o', 'u']]
print('Quantidade de vogais: ', len(vogais))

Quantidade de vogais:  93

In [ ]:
#Exercício 4
linhas = historia.splitlines()
print('A quantidade de linhas é: ', len(linhas))

A quantidade de linhas é:  3

## Aula 3 - Operações com tuplas

In [4]:
#count()
tupla = (1, 2, 3, 4, 5, 1, 9)
tupla.count(1)

2

In [7]:
#index
tupla.index(9)

6

In [9]:
#soma de tupla e del
tupla_2 = (1, 2, 3, 0, 8, 3)
tupla_3 = tupla + tupla_2
print(tupla_3)

(1, 2, 3, 4, 5, 1, 9, 1, 2, 3, 0, 8, 3)

In [10]:
#multiplicação de tupla e id
print(id(tupla))
print(id(tupla_2))
print(id(tupla_3))

140235753640160
140235753663632
140235816958384

In [11]:
#atribuindo tupla para variável
tupla_4 = ('olá', 'hoje é domingo', 'não, hoje é quinta')
(comprimento, mentira, verdade) = tupla_4

In [13]:
print(comprimento, mentira, verdade)

olá hoje é domingo não, hoje é quinta

In [14]:
del tupla_4
print(tupla_4)

NameError: ignored

# Aula - Dicionário

In [15]:
#diference
set_1 = {1, 2, 3, 5, 8, 9, 88}
set_2 = {1, 2, 4, 8, 19, 32}
print(set_1.difference(set_2))
print(set_2.difference(set_1))

{88, 9, 3, 5}
{32, 19, 4}

In [16]:
#intersection

print(set_2)
set_3 = {1, 2, 49, 9, 20, 4}
print(set_3)
print(set_2.intersection(set_3))

{32, 1, 2, 4, 8, 19}
{1, 2, 4, 9, 49, 20}
{1, 2, 4}

In [17]:
#intersection_update
print(set_2)
print(set_3)
set_2.intersection_update(set_3)
print(set_2)

{32, 1, 2, 4, 8, 19}
{1, 2, 4, 9, 49, 20}
{1, 2, 4}

In [18]:
#isdisjoint

print(set_1)
print(set_2)
print(set_3)
set_4 = {77, 33}
print(set_4)
print(set_2.isdisjoint(set_3))
print(set_3.isdisjoint(set_1))
print(set_3.isdisjoint(set_4))

{1, 2, 3, 5, 8, 9, 88}
{1, 2, 4}
{1, 2, 4, 9, 49, 20}
{33, 77}
False
False
True

In [19]:
#issubset

set_5 = {1, 3, 2, 5}
set_6 = {0, 1, 3, 2, 5}
print(set_5)
print(set_6)
print(set_5.issubset(set_6))
print(set_6.issubset(set_5))

{1, 2, 3, 5}
{0, 1, 2, 3, 5}
True
False

In [21]:
#symmetric_difference, o contrário do intersection

print(set_5)
print(set_3)
print(set_5.symmetric_difference(set_3))

{1, 2, 3, 5}
{1, 2, 4, 9, 49, 20}
{49, 4, 20, 3, 5, 9}

In [22]:
#union
print(set_5)
print(set_3)
print(set_5.union(set_3))

{1, 2, 3, 5}
{1, 2, 4, 9, 49, 20}
{1, 2, 3, 4, 5, 9, 49, 20}

In [23]:
#update, o msm do union, mas atualiza o set
print(set_5)
print(set_3)
set_5.update(set_3)
print(set_5)

{1, 2, 3, 5}
{1, 2, 4, 9, 49, 20}
{1, 2, 3, 4, 5, 9, 49, 20}

#Exercícios!

1- Crie uma tupla e ordene ela

2- Remova todos os valores duplicados da tupla

3- Crie uma função que busque um determinado valor em uma tupla e retorne a quantidade de vezes que esse valor aparece

4- Crie dois sets e atribua no primeiro a diferença simétrica entre os dois

5- Faça a união entre os dois sets e salve o resultado como um terceiro set

In [31]:
#Exercício 1

tupla = sorted((1, 9, 2, 19, 30, 1, 29, 8))
print(tupla)

[1, 1, 2, 8, 9, 19, 29, 30]

In [33]:
#Exercício 2
print(set(tupla))

{1, 2, 8, 9, 19, 29, 30}

In [25]:
#Exercício 3
print(tupla.count(1))

2

In [34]:
def conta (x, y):
  return x.count(y)
conta(tupla, 1)

2

In [38]:
#Exercício 4
set_10 = {1, 3, 0, 9, 3, 19}
set_11 = {1, 3, 30, 92, 39}
print(set_10)
print(set_11)
print(set_10.symmetric_difference(set_11))

{0, 1, 3, 9, 19}
{1, 3, 39, 92, 30}
{0, 19, 39, 9, 92, 30}

In [40]:
#Exercício 5
set_12 = set_10.union(set_11)
print(set_12)

{0, 1, 3, 39, 9, 19, 92, 30}

##Continuação aula - dicionário

In [43]:
#fromkeys
chave = ['olar', 'roi', 'olá']
valor = [22]
dicionario = dict.fromkeys(chave, valor)
print(dicionario)

{'olar': [22], 'roi': [22], 'olá': [22]}

In [44]:
#get
dicionario.get('olá', 'não tem')

[22]

In [45]:
dicionario.get('oi', 'não tem')

'não tem'

In [46]:
#items
dicionario.items()

dict_items([('olar', [22]), ('roi', [22]), ('olá', [22])])

In [47]:
#keys
dicionario.keys()

dict_keys(['olar', 'roi', 'olá'])

In [48]:
#setdefault
dicionario.setdefault('olá', 7)

[22]

In [49]:
dicionario.setdefault('oi', 7)

7

In [50]:
print(dicionario)

{'olar': [22], 'roi': [22], 'olá': [22], 'oi': 7}

In [51]:
#values
dicionario.values()

dict_values([[22], [22], [22], 7])

##Exercícios!

1- Crie um dicionário com nome, sobrenome e apelido de 3 usuários 

2- Procure o atributo idade para o usuário 1 e caso não tenha adicione o valor 30 nesse campo

3- Conte a quantidade de nomes e sobrenomes contidos no dicionario

4- Verifique se há dois nomes repetidos

In [64]:
#Exercício 1
cadastro = {'usuário1':{'nome':'Pedro', 'sobrenome':'Oliveira', 'apelido':'bebedor'}, 'usuario2':{'nome':'Letícia', 'sobrenome':'Bertonha', 'apelido':'Leh'}, 'usuario3':{'nome':'Roberta', 'sobrenome':'Bittencourt', 'apelido':'Beta'}}
print(cadastro)

{'usuário1': {'nome': 'Pedro', 'sobrenome': 'Oliveira', 'apelido': 'bebedor'}, 'usuario2': {'nome': 'Letícia', 'sobrenome': 'Bertonha', 'apelido': 'Leh'}, 'usuario3': {'nome': 'Roberta', 'sobrenome': 'Bittencourt', 'apelido': 'Beta'}}

In [66]:
#Exercício 2
for a, b in cadastro.items():
  b.setdefault('idade', 30)
print(cadastro)

{'usuário1': {'nome': 'Pedro', 'sobrenome': 'Oliveira', 'apelido': 'bebedor', 'idade': 30}, 'usuario2': {'nome': 'Letícia', 'sobrenome': 'Bertonha', 'apelido': 'Leh', 'idade': 30}, 'usuario3': {'nome': 'Roberta', 'sobrenome': 'Bittencourt', 'apelido': 'Beta', 'idade': 30}}

In [73]:
#Exercício 3
n = 0
s = 0
for a, b in cadastro.items():
  nomes = b.get('nome', 0)
  snome = b.get('sobrenome', 0)
  if nomes != 0:
    n+=1
  if snome != 0:
    s+=1
print('total de nomes:', n, '\ntotal de sobrenomes', s, '\ntotal de nomes e sobrenomes:', n+s)

total de nomes: 3
total de sobrenomes 3
total de nomes e sobrenomes: 6

In [79]:
nomes = []

for a,b in cadastro.items():
  iguais = b.get('nome', 0)
  nomes.append(iguais)

for a,b in cadastro.items():
  nome = b.get('nome', 0)
  print(nomes.count(nome), nome)

1 Pedro
1 Letícia
1 Roberta