In [ ]:
# soma de inteiros no print
var1 = 5 + 4
var_2 = 'texto'

#prints
print(var1)

9

In [ ]:
print(var1 + var_2)

TypeError: ignored

In [ ]:
print(var1 * var_2)

textotextotextotextotextotextotextotextotexto

In [ ]:
# Soma de floats 
print(type(var1))
real = 4.3
var_3 = var1 + real 
print(var_3, type(var_3))

<class 'int'>
13.3 <class 'float'>

In [ ]:
# soma de trings no print
texto = 'lorem ipsum'
text_2 = texto + ' ' + var_2
print(text_2)

lorem ipsum texto

In [ ]:
#e também multiplicar uam string por um inteiro
print('---' * 10)

------------------------------

In [ ]:
#somando dois inteiros e atribuindo a uma nova variável
text_2 = 'texto reformado'
#printando a variável e seu type
print(text_2, type(text_2))

texto reformado <class 'str'>

In [ ]:
#somando um inteiro e um numero real e atribuindo a uma nova variável
inteiro = 1
real = 4.5
boleano = inteiro > real

#printando a variável e seu type
print(boleano, type(boleano))

False <class 'bool'>

In [ ]:
# printando comparações entre 2 valores com cada um dos operadores

print( 10 < 12)
print('10' == 10)

True
False

In [ ]:
#somando valores booleanos
True + True

2

In [ ]:
True + False

1

In [ ]:
True * False

0

In [ ]:
True / True

1.0

In [ ]:
# dividindo true e atribuindo a uma nova variável
var = 10+True/True 

#printando o valor
print(var, type(var))

11.0 <class 'float'>

In [ ]:
#função type() é nativa do python e mostra a variável
print(type(10))

#função convertendo variável booleano em int
boleano = True
print(type(boleano))
boleano = int(boleano)
print(type(boleano))

#printando variável e seu type
boleano = True
print(type(boleano))

#convertendo boleano para string
boleano = str(boleano)

#printando variável e seu type
print(type(boleano))

<class 'int'>
<class 'bool'>
<class 'int'>
<class 'bool'>
<class 'str'>

In [ ]:
#módulo retorna o resto da divisão
print(6%2)
print(5%2)
print(3%2)
print(11%3)

0
1
1
2

In [ ]:
#expoencial
print(2**1)
print(2**2)
print(2**3)
print(2**4)
print(2**5)

2
4
8
16
32

In [ ]:
#divisão com arredondamento
print(9//2)
print(19//2)

4
9

In [ ]:
#arredondamento
arredondamento = 21/4
var_arrend = 21//4
print(arredondamento, type(arredondamento))
print(var_arrend, type(var_arrend))

5.25 <class 'float'>
5 <class 'int'>

In [ ]:
x = 1
y = 1
x += 10
y += 20
print('x: ',x,'y: ',y)
print('x += 10 é equivalente a: x = x + 10')
x = x +10
print(x)

x:  11 y:  21
x += 10 é equivalente a: x = x + 10
21

# Exercícios!!

1- Faça pelo menos 1 exemplo com cada operador visto utilizando variáveis do mesmo tipo

2- Repita o exercício 1, mas dessa vez utilizando variáveis de tipos diferentes, dessa vez verifique se o tipo dela alterou ou não

3- Faça 3 operações com operadores diferentes utilizando o formato passado nas dicas

In [ ]:
#Exercício 1

soma = 3 + 2
subtracao = 3 - 2
multiplicacao = 3 * 2
divisao = 3 / 2
modulo = 3 % 2
arredondamento = 3 // 2
exponencial = 3 ** 2
booleano = True

print(soma)
print(subtracao)
print(multiplicacao)
print(divisao)
print(modulo)
print(arredondamento)
print(exponencial)
print(booleano)

5
1
6
1.5
1
1
9
True

In [ ]:
#Exercício 2

print(soma, type(soma))
print(subtracao, type(subtracao))
print(multiplicacao, type(multiplicacao))
print(divisao, type(divisao))
print(modulo, type(modulo))
print(arredondamento, type(arredondamento))
print(exponencial, type(exponencial))
print(booleano, type(booleano))

divisao_2 = divisao * 2.3
modulo_2 = modulo + booleano
booleano_2 = booleano + booleano 
print('---' * 10)
print(divisao_2, type(divisao_2))
print(modulo_2, type(modulo_2))
print(booleano_2, type(booleano_2))

5 <class 'int'>
1 <class 'int'>
6 <class 'int'>
1.5 <class 'float'>
1 <class 'int'>
1 <class 'int'>
9 <class 'int'>
True <class 'bool'>
------------------------------
3.4499999999999997 <class 'float'>
2 <class 'int'>
2 <class 'int'>

In [ ]:
mais = 10
menos = 10
vezes = 10
dividido = 10
print(mais)
print(menos)
print(vezes)
print(dividido)

mais += 7
menos -= 7
vezes *= 7
dividido /= 7
print('---' * 7)
print(mais)
print(menos)
print(vezes)
print(dividido)

10
10
10
10
---------------------
17
3
70
1.4285714285714286