In [ ]:
nome_inteiro = 3
real = 4.5
text_1 = 'esse é meu texto'
text_2 = "esse é meu texto 2"

In [ ]:
#podemos colocar comentários dentro de cada célula de código dessa forma
print(nome_inteiro)

3

In [ ]:
#podemos colocar diversos prints na mesma célula
print(real)
print(text_1)
print(text_2)

4.5
esse é meu texto
esse é meu texto 2

In [ ]:
#ou podemos imprimir tudo em uma única linha
print(nome_inteiro, real, text_1, text_2)

3 4.5 esse é meu texto esse é meu texto 2

In [ ]:
#podemos também usar uma linha de código e printar pulando linha com o \n
print( nome_inteiro, '\n',real, '\n', text_1, '\n', text_2)

3
 4.5
 esse é meu texto
 esse é meu texto 2

In [ ]:
#o python possui a função "type ()" já nativa e construída para mostrar o tipo da variável
print(nome_inteiro, type(nome_inteiro))
print(real, type(real))
print(text_1, type(text_1))
print(text_2, type(text_2))

3 <class 'int'>
4.5 <class 'float'>
esse é meu texto <class 'str'>
esse é meu texto 2 <class 'str'>

# Exercício!

1- Crie uma variável de cada tipo aprendido e atribua um valor para cada uma delas, lembre-se de utilizar as dicas da aula

2- Imprima os valores atribuiços em cada variável, pule uma linha de uma variável para a outra

3- Imprima os tipos de cada variável

In [ ]:
# Exercício 1
inteiro = 2
decimal = 3.14
verdadeiro = True
texto = 'Olá, eu sou o Goku'

In [ ]:
# Exercício 2

# 1ª maneira
print(inteiro)
print(decimal)
print(verdadeiro)
print(texto)

# 2ª maneira
print('\n', inteiro, '\n', decimal, '\n', verdadeiro, '\n', texto)

2
3.14
True
Olá, eu sou o Goku

 2
 3.14
 True
 Olá, eu sou o Goku

In [ ]:
# Exercício 3

print(inteiro, type(inteiro))
print(decimal, type(decimal))
print(verdadeiro, type(verdadeiro))
print(texto, type(texto))

2 <class 'int'>
3.14 <class 'float'>
True <class 'bool'>
Olá, eu sou o Goku <class 'str'>